body{
    font-family: 'Alegreya Sans SC', serif;
    background-color: #f1f1f1;
    background-image: url('../images/concrete_seamless.png');
}
  
  header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  a:visited{
    color: #0000EE;
  }

  #logo { 
    animation-name: animateLogoIn;
    animation-duration: 4s;
  } 

  @keyframes animateLogoIn {
    from {
        width: 50px;
        opacity: 0;
    }
    to {
        width: 425px; 
        opacity: 1;
    }
  }

  .skip a{
    background: #ffffff;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }
  
  .skip a:focus{
    top: 0px;
  }
  
  .nav_links{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card > header {
      background: #288088;
      border: 2px solid #45ADAD;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }

  .pricing{
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
  }

  .gallery > img{
    display: flex;
    border: 10px solid #50C7C7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
  }

  .gallery{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  @media screen and (min-width: 850px){
      body > header{
          justify-content: space-between;
          flex-direction: row;
          position: sticky;
          top: 0;
          z-index: 1;
      }
      .nav_links{
          flex-direction: row;
      }
      .card{
          flex-basis: 250px;
      }
}

@media (prefers-reduced-motion: reduce){
    #logo{
        animation: none;
    }
}

@media print {
    body {
        background-image: initial;
        /* Fix weird color print issue */
        -webkit-print-color-adjust: exact !important;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        flex-direction: row;
        flex: 1;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .pricing {
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card {
        border: solid 2px #45addd;
        flex-basis: 250px;
    }

    .card > ul > li:nth-child(odd)::before,
    .card > ul > li:nth-child(even)::after {
        content: "\01F44D";
    }

    #gallery,
    .gallery {
        display: none;
    }
}
  